@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

body {
  @apply bg-darkBg text-white font-montserrat;
}
